.container {
  width: 480px;
  height: 540px;
  overflow-y: scroll;
  overscroll-behavior: none;
  border: 1px dotted gray;
  padding: 7px;
}

.content {
  font-family: monospace;
}

.word {
  white-space: pre-wrap;

  &.added {
    background-color: #e6feec;
  }

  &.deleted {
    background-color: #ffebe9;
  }
}
